:host .business-component__form {
  display: none;
}

:host([editing]) .business-component__form {
  display: flex;
}

/* for compatibility */

sling-merchant-contacts .business-component__form {
  display: none;
}

sling-merchant-contacts[editing] .business-component__form {
  display: flex;
}
