.business-component {
  position: relative;
  height: 100%;
}

.business-component__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.business-component__header_primary > * {
  margin-left: auto;
}

.business-component__header_secondary,
.business-component__header_total {
  box-sizing: border-box;
  height: 50px;
  padding: 8px 16px;
  border-top: 1px solid #C3C8D2;
}

.business-component__header_secondary {
  background: rgba(0, 0, 0, 0.02);
}

.business-component__header_total {
  color: #fff;
  background: #242932;
}

.business-component__description {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.025em;
  white-space: nowrap;
}

.business-component__header_secondary > *:nth-child(1) {
  margin-right: 16px;
}

.business-component__card-head_title {
  color: #ccc;
  font-size: .8em;
}

.business-component__card-head_date {
  display: block;
}

sling-loader[loading] + * {
  opacity: 0.3;
}
