:host .business-component__form {
    display: none;
  }

  :host([editing]) .business-component__form {
    display: flex;
  }

  /* for compatibility */

  affiliation-merchant-addresses .business-component__form {
    display: none;
  }

  affiliation-merchant-addresses[editing] .business-component__form {
    display: flex;
  }
