:host .business-component__form {
  display: none;
}

:host([editing]) .business-component__form {
  display: flex;
}

/* for compatibility */

affiliation-merchant-info-list .business-component__form {
  display: none;
}

affiliation-merchant-info-list[editing] .business-component__form {
  display: flex;
}
