:host .business-component__form {
  display: none;
}

:host([editing]) .business-component__form {
  display: flex;
}

/* for compatibility */

sling-merchant-info-list .business-component__form {
  display: none;
}

sling-merchant-info-list[editing] .business-component__form {
  display: flex;
}
