:host .business-component__form_legal {
    display: none;
  }
  
  :host([isEditingLegalPerson]) .business-component__form_legal {
    display: flex;
  }
  
  /* for compatibility */
  
  affiliation-merchant-partners .business-component__form_legal {
    display: none;
  }
  
  affiliation-merchant-partners[isEditingLegalPerson] .business-component__form_legal {
    display: flex;
  }
  
  /* ------------ natural person ----------- */
  :host .business-component__form_natural {
    display: none;
  }
  
  :host([isEditingNaturalPerson]) .business-component__form_natural {
    display: flex;
  }
  
  /* for compatibility */
  
  affiliation-merchant-partners .business-component__form_natural {
    display: none;
  }
  
  affiliation-merchant-partners[isEditingNaturalPerson] .business-component__form_natural {
    display: flex;
  }

  /* ------------  Create  ----------- */
  :host .business-component__form_create {
    display: none;
  }
  
  :host([isCreatingPartner]) .business-component__form_create {
    display: flex;
  }
  
  /* for compatibility */
  
  affiliation-merchant-partners .business-component__form_create {
    display: none;
  }
  
  affiliation-merchant-partners[isCreatingPartner] .business-component__form_create {
    display: flex;
  }
  