:host .business-component__form {
  display: none;
}

:host([editing]) .business-component__form {
  display: flex;
}

/* for compatibility */

affiliation-merchant-bank-accounts .business-component__form {
  display: none;
}

affiliation-merchant-bank-accounts[editing] .business-component__form {
  display: flex;
}
